@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h2>Welcome! This is Devash's Music Application!</h2>
</div>
<a asp-action="Index" asp-controller="Albums" class="btn btn-lg btn-info">Go to Albums</a>
<a asp-action="Index" asp-controller="Genres" class="btn btn-lg btn-info">Go to Genres</a>
<a asp-action="Index" asp-controller="Artists" class="btn btn-lg btn-info">Go to Artists</a>